numpy                     1.26.4                   pypi_0    pypi
transformers              4.48.0                   pypi_0    pypi
scikit-learn              1.5.2                    pypi_0    pypi
tensorflow                2.18.0                   pypi_0    pypi
matplotlib                3.9.3                    pypi_0    pypi
seaborn                   0.13.2                   pypi_0    pypi
pandas                    2.2.3                    pypi_0    pypi
wordcloud                 1.9.4                    pypi_0    pypi
